.login_background {
  height: 100dvh;
  width: 100%;
  background: url("../images/login.jpg");
  background-size: cover cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: grid;
  place-items: center;
}
#filled-start-adornment::placeholder{
 
    font-size: 12px;
  
}

.loginBtn:disabled{
  cursor: none;
}